{% extends 'base.html.twig' %} {% block body %}
<section id="intro" >
    <div class="container">
        <h2 class=" textb wow fadeInUp text-white text-center"> PLATEFORME DOCUMENTAIRE DE TEXTES
LEGISLATIFS , REGLEMENTAIRES ET DE LA DOCTRINE FISCALE</h2>
    </div>
    <div class="container" style="position:relative;top:30%">
        <form action="{{path('recherche')}}" method='post'>

            <div class="row no-gutters clearfix mt-5">
                <div class="col-lg-4 col-md-6 col-sm-12 m-0 col-sm-12">
                    <div class="form-group">
                        <div>
                            <input class="form-control wow fadeInUp " data-wow-delay="0.2s" style="margin-right:2px;border-width:0px;border:none!important; height:48px;height:48px;border-radius: 33px 0 0 33px ;border-right:0.7;width:100%" name="search" type="search" placeholder="Recherche par mots clés .."
                                aria-label="Search">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6 m-0 ">
                    <div class="form-group">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"></label>
                        <select style="border-width:0px !important;border:none!important; height:48px;" name="categorie" class="custom-select wow fadeInUp mr-sm-5" id="inlineFormCustomSelect" data-wow-delay="0.2s">
                        <option value='' selected>Toutes les categories</options>
                        {% for cat in categories %}
                        <option value="{{ cat.id }}"><b>{{ cat.libelle }}</b></option>
                        {% for sousCat in cat.sousCategorie %}
                        <option value="{{ cat.id }}-{{ sousCat.id }}"><b>{{ cat.libelle }}</b> >> {{ sousCat.libelle }}</option>
                        {% endfor %}
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 m-0 ">

                    <button type="submit" style="border-width:0px;border:none!important;height:48px;border-radius: 0 33px 33px 0;width:70%;margin-left:2px" class="btn btn-primary wow fadeInUp " data-wow-delay="0.2s"><i class="fas fa-search"></i> Chercher</button>
                </div>
            </div>
    </div>

    </form>
    <b class="text-center text-light mt-4"><a  class="nav-link mt-4 text-light wow fadeInUp " href="/recherche" data-wow-delay="0.42s" > <i class="fas fa-crosshairs"></i> RECHERCHE AVANCÉE  <i class="fas fa-crosshairs"></i></a> </b>

    </div>




    </div>
</section>


<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>
                <b>Pourquoi NASRULEX ??<b>
            </h3>
            <p>Face à la présomption irréfragable <b>« nul n’est censé ignorer la loi » </b>, quelles sont les
dispositions qui ont été prises pour que nul n’en ignore ?<br>
Pour remédier à cela, NASRULEX vous offre une solution innovante pour un accès à temps
réel, partout et en un clic de l’ensemble des textes législatifs et règlementaires du Sénégal.
            </p> <br>
            
        </header>

        <div class="row  ">


            
       <section id="us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          
          <h4 class="text-center text-light text-bold" >La recherche documentaire passe par trois étapes : avoir un compte NASRULEX, choisir un pack et passer au paiement.</h4>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="text-center m-5"> <i style="font-size:55px;color:white" class="fas fa-user-alt "></i></i>
                  </div>
            <div class=" wow bounceInUp">
                
              <div class="">
                <h5 class="text-center text-light text-bold">AVOIR UN COMPTE NASRULEX</h5>
                <p class="text-center text-light"><i class="fas fa-arrow-circle-right"></i> Inscription <br> <i class="fas fa-arrow-circle-right"></i> Connection<br>
              </p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class=" m wow bounceInUp">
                      <div class="text-center m-5"> <i style="font-size:55px;color:white" class="fas fa-cube"></i></i>
                  </div>
              <div class="c">
                <h5 class="text-center text-light text-bold">CHOISIR UN PACK </h5>
                <p class="text-center text-light"> <i class="fas fa-arrow-circle-right"></i> Le pack Platinium,<br><i class="fas fa-arrow-circle-right"></i> Le pack Silver,<br>
                        <i class="fas fa-arrow-circle-right"></i> Le pack Gold.<br>  </p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class=" m wow bounceInUp">
                    <div class="text-center m-5"> <i style="font-size:55px;color:white" class="fas fa-credit-card "></i></i>
                  </div>
              <div class="c">
                <h5 class="text-center text-light text-bold"> PASSER AU PAYEMENT  </h5>
                <p class="text-center text-light"> <i class="fas fa-arrow-circle-right"></i> Inscription <br> <i class="fas fa-arrow-circle-right"></i> Connection<br>
               </p>
                
              </div>
            </div>
          </div>

        </div>

        
      </div>
    </section>


            </div>

           
        


    </div>
</section>
<!--==========================
      Clients Section
    ============================-->
<section id="clients" class="section-bg">

    <div class="container">

        <div class="section-header">
            <h3>Nos Partenaires</h3>
            <p class="text-center">Signer une convention avec NASRULEX pour bénéficier d’un accès privilégié à la Plateforme.</p></div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="{{asset('assets/img/Nasurlex-logo.png')}}" class="img-fluid" alt="">
                </div>
            </div>

        </div>
        <div class="section-header">
            <p class="text-center"> <b class="text-center"> NASRULEX, au Service des professionnels des métiers du droit et des chiffres.</b>
                <p>
        </div>
    </div>


</section>

<section id="why-us">
    <div class="container">
        <header class="section-header">
            <h3>Services</h3>
            <p class="text-center">Categories de documents</p>
        </header>

        <div class="row">

            <div class="col-md-4 mb-3  ">


                <div class="card mb-3 bg-white ">
                    <img class="card-img-top mt-3 mb-3" src="{{asset('assets/img/juridique.svg')}}" height="100px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center" style="color:black">JURIDIQUE</h5>

                        <hr style="background-color:gray; height: 0.5px;">
                        <p class="card-text text-center " style="color:gray"><span style="color:gray;font-weight: bold;" data-toggle="counter-up">{{ juridique|length }}</span> DOCUMENTS </p>


                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3  ">


                <div class="card mb-3 bg-white ">
                    <img class="card-img-top mt-3 mb-3" src="{{asset('assets/img/Fiscal.svg')}}" height="100px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="title text-center" style="color:black">FISCAL</h5>

                        <hr style="background-color:gray; height: 0.5px;">
                        <p class="card-text text-center " style="color:gray"><span style="color:gray;font-weight: bold;" data-toggle="counter-up">{{ fiscal|length }}</span> DOCUMENTS </p>


                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3  ">


                <div class="card mb-3 bg-white ">
                    <img class="card-img-top mt-3 mb-3" src="{{asset('assets/img/Social.svg')}}" height="100px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="title text-center" style="color:black">SOCIAL</h5>

                        <hr style="background-color:gray; height: 0.5px;">
                        <p class="card-text text-center " style="color:gray"><span style="color:gray;font-weight: bold;" data-toggle="counter-up">{{ social|length }}</span> DOCUMENTS </p>


                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3  ">


                <div class="card mb-3 bg-white ">
                    <img class="card-img-top mt-3 mb-3" src="{{asset('assets/img/Foncier.svg')}}" height="100px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="title text-center" title text-center style="color:black">FONCIER</h5>

                        <hr style="background-color:gray; height: 0.5px;">
                        <p class="card-text text-center " style="color:gray"><span style="color:gray;font-weight: bold;" data-toggle="counter-up">{{ foncier|length }}</span> DOCUMENTS </p>


                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3  ">


                <div class="card mb-3 bg-white ">
                    <img class="card-img-top mt-3 mb-3" src="{{asset('assets/img/Affaire.svg')}}" height="100px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="title text-center" style="color:black">AFFAIRE</h5>

                        <hr style="background-color:gray; height: 0.5px;">
                        <p class="card-text text-center " style="color:gray"><span style="color:gray;font-weight: bold;" data-toggle="counter-up">{{ affaire|length }}</span> DOCUMENTS </p>


                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3  ">


                <div class="card mb-3 bg-white ">
                    <img class="card-img-top mt-3 mb-3" src="{{asset('assets/img/Banque.svg')}}" height="100px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="title text-center" style="color:black">BANQUE</h5>

                        <hr style="background-color:gray; height: 0.5px;">
                        <p class="card-text text-center " style="color:gray"><span style="color:gray;font-weight: bold;" data-toggle="counter-up">{{ banque|length }}</span> DOCUMENTS </p>


                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<section id="testimonials" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Témoignages</h3>
        </header>

        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="owl-carousel testimonials-carousel wow fadeInUp">

                    <div class="testimonial-item">
                        <img src="{{('assets/img/testimonial-1.jpg')}}" class="testimonial-img" alt="">
                        <h3>Professeur Isaac Yankhoba NDIAYE</h3>
                        <h4>Professeur à l’université Cheikh Anta Diop - Ancien vice président du Conseil constitutionnel du Sénégal </h4>
                        <p>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="{{('assets/img/testimonial-2.jpg')}}" class="testimonial-img" alt="">
                        <h3>Professeur Abdoulaye SAKHO</h3>
                        <h4>Agrégé en droit privé. Spécialiste du droit Économique. Directeur fondateur du Master droit de la Régulation et du Master droit du Sport. </h4>
                        <p>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        </p>
                    </div>
                    <div class="testimonial-item">
                        <img src="{{('assets/img/testimonial-5.jpg')}}" class="testimonial-img" alt="">
                        <h3>Monsieur Mouhamadou Lamine SY</h3>
                        <h4>Inspecteur principal des impôts. Conseil Technique du Directeur Général des Impôts⁃ Docteur Aliou NIANG - Docteur en Droit. Spécialiste en politique commerciale.</h4>
                        <p>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        </p>
                    </div>
                    <div class="testimonial-item">
                        <img src="{{('assets/img/testimonial-3.jpg')}}" class="testimonial-img" alt="">
                        <h3>Monsieur Mameboy DIAO</h3>
                        <h4>Inspecteur Principal des Impôts et Directeur des Domaines.</h4>
                        <p>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="{{('assets/img/testimonial-4.jpg')}}" class="testimonial-img" alt="">
                        <h3>Maitre Saliou DIEYE</h3>
                        <h4>Président de l’Ordre National des Experts du Sénégal (ONES). Président de l’Union des Ordres Fiscaux de l’Afrique de l’Ouest ( UDOFAO). Mandataire judiciaire auprès des cours et tribunaux.</h4>
                        <p>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        </p>
                    </div>

                    

                </div>

            </div>
        </div>


    </div>
</section>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-90"  src="{{ asset('baniere.png')}}"   alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-90"  src="{{ asset('baniere.png')}}"  alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-90"  src="{{ asset('baniere.png')}}"  alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<section id="contact">
    <div class="container-fluid">

        <div class="section-header">
            <h3>Contactez-nous</h3>
        </div>

        <div class="row wow fadeInUp">

            <div class="col-lg-2">
                <div class="map mb-4 mb-lg-0">

                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-5 info">
                        <i class="ion-ios-location-outline"></i>
                        <p> Senegal , Dakar , Almadies nº648</p>
                    </div>
                    <div class="col-md-4 info">
                        <i class="ion-ios-email-outline"></i>
                        <p>contact@nasrulex.com</p>
                    </div>
                    <div class="col-md-3 info">
                        <i class="ion-ios-telephone-outline"></i>
                        <p>  + 221 78 520 73 82</p>
                    </div>
                </div>

                <div class="form">
                    <div id="sendmessage">Votre message a été bien envoyé</div>
                    <div id="errormessage"></div>
                    <form action="{{path('contact.add')}}" method="post">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <input type="text" name="nomComplet" class="form-control" id="name" placeholder="Prenom et Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="email" class="form-control" name="username" id="email" placeholder="Votre email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="telephone" id="subject" placeholder="Numero Telephone" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit" title="Send Message">Envoyer Le Message</button></div>
                    </form>
                </div>
            </div>
             <div class="col-lg-2">
                <div class="map mb-4 mb-lg-0">

                </div>
            </div>

        </div>

    </div>
</section>
<!-- #contact -->







{% endblock %}