{% extends 'admin.html.twig' %} {% block body %}

<style type="text/css">
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<div class="">
    <div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12 ">
                <div class="mt-5 pt5">
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %} {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <!-- /. ROW  -->
        {% if app.user.role =="ROLE_ADMIN" %}
        <div class="row text-center ">

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3 ">
                    <a href="{{path('addDoc')}}" class="text-decoration-none">
                        <div class="float-left"> <i style="color:#3c4474 ;" class="fas fa-file-upload fa-5x"></i>
                        </div>
                        <h4 class="mt-4" class="mt-4">Ajouter Docs</h4>
                    </a>
                </div>


            </div>



            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3 ">
                    <a href="{{path('addPack')}}">
                        <div class="float-left">
                            <i style="color:#3c4474 ;" class="fab fa-gg-circle fa-5x"></i>
                        </div>
                        <h4 class="mt-4">Ajouter un Packs</h4>
                    </a>
                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3 ">
                    <a href="{{path('Pack')}}">
                        <div class="float-left">
                            <i style="color:#3c4474 ;" class="fas fa-stop-circle fa-5x"></i>
                        </div>
                        <h4 class="mt-4">Les Packs</h4>
                    </a>
                </div>


            </div>


            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3 ">
                    <a href="{{path('passe')}}">
                        <div class="float-left">
                            <i style="color:#3c4474 ;" class="fas fa-lock fa-5x"></i>
                        </div>
                        <h4 class="mt-4">Mots de passe</h4>
                    </a>
                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3 ">
                    <a href="{{path('offrir')}}">
                        <div class="float-left">
                        <i style="color:#3c4474 ;" class="fa fa-tint fa-5x" aria-hidden="true"></i>
                        </div>
                        <h4 class="mt-4">Offrir un pack </h4>
                    </a>
                </div>


            </div>
             <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3 ">
                 <a href="{{path('modefree')}}">
                        <div class="float-left">
                      <i style="color:#3c4474 ;" class="fa fa-tint fa-5x" aria-hidden="true"></i>

                        </div>
                        <h4 class="mt-4">Activer/Désactiver Mode-Gratuit </h4>
                    </a>
                    
                </div>


            </div>
            
        </div>
        {% endif %}
        <!-- /. ROW  -->
        {% if app.user.role =="ROLE_USER" %}
        <div class="row text-center pad-top">

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3">
                    <a href="#">
                        <i style="color:#3c4474 ;" class="fa fa-clipboard fa-5x"></i>
                        <h4 class="mt-4">Vos favoris(À venir)</h4>
                    </a>
                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3">
                    <a href="{{path('passe')}}">
                        <i style="color:#3c4474 ;" class="fa fa-gear fa-5x"></i>
                        <h4 class="mt-4"> Mots de passe</h4>
                    </a>
                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div style="color:#3c4474 ;" class="card p-3 ">
                    <a href="{{path('abonnement')}}">
                        <i style="color:#3c4474 ;" class="fa fa-rocket fa-5x"></i>
                        <h4 class="mt-4">Abonnements</h4>
                    </a>
                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3">
                    <a href="#">
                        <i style="color:#3c4474 ;" class="fa fa-wechat fa-5x"></i>
                        <h4 class="mt-4">Mailing</h4>
                    </a>
                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3">
                    <a href="#">
                        <i style="color:#3c4474 ;" class="fa fa-bell-o fa-5x"></i>
                        <h4 class="mt-4">Notifications </h4>
                    </a>
                </div>


            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-3">
                <div class="card p-3">
                    <a href="#">
                        <i style="color:#3c4474 ;" class="fa fa-user fa-5x"></i>
                        <h4 class="mt-4">Register User</h4>
                    </a>
                </div>


            </div>
        </div>

    </div>{% endif %}
    <!-- /. PAGE INNER  -->
</div>

{% endblock %}